/* general css for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Asap Condensed', sans-serif;
}

/* set body and html height to 100%*/
html{
    height: 100vh;
    overflow: hidden;
}

header{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    height: 10vh;
    overflow: hidden;
    display: flex;
}

h1{
    width: 100%;
    align-self: center;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
}

body{
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    background: url('/img/bkg_img.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* article section css start */
#theArticle{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sectOne{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* css for eightball images */
#answers{
    align-self: center;
}

#eightball{
    width: 100%;
    height: auto;
}

#sectTwo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#inputDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#qHeader{
    width: 80vw;
    max-width: 900px;
    min-width: 190px;
    min-height: 2vh;
    margin-top: 5vh;
    align-self: center;
    text-align: center;
    overflow: auto;
}

#inputLabel{
    width: 80vw;
    max-width: 900px;
    min-width: 190px;
    align-self: center;
    font-size: 1.2rem;
    margin-top: 2vh;
}

#theInput{
    width: 80vw;
    max-width: 900px;
    min-width: 190px;
    align-self: center;
    font-size: 1.2rem;
}

#buttonDiv{
    width: 80vw;
    max-width: 900px;
    min-width: 500px;
    margin-bottom: 5vh;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#askButton, #yeetButton{
    width: 190px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px){
    #buttonDiv{
        width: 80vw;
        max-width: 900px;
        min-width: 190px;
        flex-direction: column;
        align-items: center;
    }

    #askButton, #yeetButton{
        width: 100%;
        min-width: 190px;
        max-width: 525px;
    }
}

/* footer css */
#footer_container{
    width: 100%;
    height: 15vh;
    background-color: rgba(128, 128, 128, 0.3);
    overflow: hidden;
}

#footer_flex_parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon_section{
    min-width: 10vw;
    gap: 10px;
    display: flex;
    margin-top: 5vh;
    justify-content: space-evenly;
}

.rounded-circle{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #808080;
}

.fab{
    color: #ffffff;
}

#text_section{
    margin-top: 1vh;
    text-align: center;
}

/* css for animations */
.shakeIt{
    animation: shake 1s;
}

.yeetIt{
    animation: yeet .5s linear;
}

.rollIn{
    animation: roll 3s linear;
}

@keyframes shake {
    0% { transform: translate(30px, 30px) rotate(0deg); }
    10% { transform: translate(-30px, -40px) rotate(-1deg); }
    20% { transform: translate(-50px, 0px) rotate(1deg); }
    30% { transform: translate(50px, 40px) rotate(0deg); }
    40% { transform: translate(30px, -30px) rotate(1deg); }
    50% { transform: translate(-30px, 40px) rotate(-1deg); }
    60% { transform: translate(-50px, 30px) rotate(0deg); }
    70% { transform: translate(50px, 30px) rotate(-1deg); }
    80% { transform: translate(-30px, -30px) rotate(1deg); }
    90% { transform: translate(30px, 50px) rotate(0deg); }
    100% { transform: translate(30px, -50px) rotate(-1deg); }
}

@keyframes yeet{
    0% {
        transform:translate(0px, 0px) rotate(-360deg);
    }
    100% {
        transform: translate(1000px, -1000px);
    }
}

@keyframes roll{
    0%{
        transform: translate(3000px, 0px) rotate(720deg);
    }
    100%{
        transform: translate(0px, 0px);
    }
}